*{
    box-sizing: border-box;
}
body
{
    background-color: aliceblue;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    overflow-x: hidden;
}

#love-message
{
    border: 1px dotted midnightblue;
    background-color: rgb(198, 226, 251);
    color: midnightblue;
    font-weight: lighter;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100vmax;
    text-align: center;
    padding: 10px 0;
}



/* next github changes from here */
.nav
{
    /* border: 1px solid red; */
    background-color: palegreen;
    color: dimgray;
    width: 100vmax;
    height: auto;
    padding: 10px 50px;
}
.border
{
    border: 1px dotted green;
}
.border:hover
{
    border: 1px solid green;
}
.text
{
    background-color: aquamarine;
    color: cadetblue;
    border-radius: 5px;
    height: 13px;
    padding: 0 10px;
}
.holder
{
    width: 100vmax;
    height: auto;
    display: flex;
}
.resource
{
    width: 300px;
    height: 200px;
    padding: 50px 50px;
}
.resource-guide
{
    width: 100%;
    padding: 20px 30px;
}
