*{
    box-sizing: border-box;
}
body{
    background-color: white;
    color: black;
    font-family: sans-serif;
    margin: 0;
}
nav{
    background-color: #4bca9d;
    color: #ffffff;
    padding: 20px;
}
small{font-size: 8px;}
.index, .resource, .indicators{
    background-color: #e6e6e6;
    font-weight: 600;
    height: auto;
    padding-bottom: 10px;
}
.crypto, .patterns{
    background-color: #f2f2f2;
    font-weight: 600;
    height: auto;
    padding-bottom: 10px;
}
.i-head, .r-head, .ic-head{
    /* border: 1px dotted #b0b0b0; */
    padding: 5px;
    padding-left: 20px;
    color: rgb(102, 153, 198);
    font-size: 24px;
}
.c-head, .p-head{
    /* border: 1px dotted #b0b0b0; */
    padding: 5px;
    padding-left: 20px;
    color: rgb(102, 153, 198);
    font-size: 24px;
}
ul{
    color: rgb(127, 135, 132);
    padding-left: 60px;
}
a{
    text-decoration: none;
    color: inherit;
}
li:hover{
    color: #000;
}
footer{
    height: 100px;
    background-color: #4bca9d;
}
